/* 
    Document   : ADRBasic.inc
    Created on : 4-Oct-2010, 4:00:18 PM
    Author     : default
    Description:
        Purpose of the stylesheet follows.
*/
.fedora_object_container {
    position: relative;
}

.x-tab-panel-header-plain ul {
    padding: 0px;
    margin: 0px;
    margin-bottom: -3px;
}

/* default loading indicator for ajax calls */
.loading-indicator {
    font-size:8pt;
    background-image:url('../../resources/images/default/grid/loading.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
}

.new-tab {
    background-image:url(../feed-viewer/images/new_tab.gif) !important;
}

.tabs {
    background-image:url( ../desktop/images/tabs.gif ) !important;
}

.overview-label {
    font-size: 2.0em;
    width: 15%;
}

.overview-value {
    font-size: 1.2em;
}

.overview-date-info {
    font-size: 1.0em;
    text-align: center;
}