{#
/**
 * @file
 * Render a bunch of objects in a list or grid view.
 */
#}
<div class="islandora-objects clearfix">
  <span class="islandora-objects-display-switch">
  {{ display_links }}
  </span>
  {{ pager }}
  {{ content }}
  {{ pager }}
</div>
