{#
/**
 * @file
 * This is the template file for the Dublin Core metadata description.
 *
 * Available variables:
 * - $islandora_object: The Islandora object rendered in this template file
 * $dc_array: The DC datastream object values as a sanitized array. This
 * includes label, value and class name.
 *
 * @see template_preprocess_islandora_dublin_core_description()
 * @see theme_islandora_dublin_core_description()
 */
#}
<div class="islandora-metadata-sidebar">
  {% if dc_array['dc:description'].value is not empty %}
    <h2>{{ dc_array['dc:description'].label }}</h2>
    <p property="description">{{ dc_array['dc:description'].value }}</p>
  {% endif %}
</div>
