{#
/**
 * @file
 * Render a bunch of objects in a list or grid view.
 */
#}
<div class="islandora-objects clearfix">
  <span class="islandora-objects-display-switch">
{#
    // @FIXME
// theme() has been renamed to _theme() and should NEVER be called directly.
// Calling _theme() directly can alter the expected output and potentially
// introduce security issues (see https://www.drupal.org/node/2195739). You
// should use renderable arrays instead.
//
//
// @see https://www.drupal.org/node/2195739
// print theme('links', array(
//                            'links' => $display_links,
//                            'attributes' => array('class' => array('links', 'inline')),
//                          )
//     );
#}
  </span>
  {{ pager }}
  {{ content }}
  {{ pager }}
</div>
